<!-- index.ejs -->

<!-- Existing content -->
<div class="indexBox">
    <h2>This is the homepage of <%= appName %></h2>
</div>

<!-- Passes the below content to the scripts variable in layout.ejs -->
<%- contentFor('scripts') %>
<script>

</script>