    <p><button id="newNoteButton">New Note</button> <button id="existingNoteSweetAlertButton">Load Note</button> <button id="joinButton">Join Collab Session</button></p>

    <script>
        // Generates a new note and places note AJAX onto view
        $('#newNoteButton').on('click', function() {
            $.ajax({
                url: '/notes/generateNote',
                method: 'GET',
                dataType: 'text', 
                success: function(data) {
                    editorPage(data);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching AJAX content:', status, error);
                }
            });
        });

        // Triggers a popup form for inputting a note ID
        $('#existingNoteSweetAlertButton').on('click', function() {
            Swal.fire({
                title: 'Enter Note ID',
                input: "text",
                showCloseButton: true,
                width: '600px', // Customize the size
                preConfirm: async (result) => {
                    try {
                        await fetch('/notes/getExistingNote', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ result })
                        }).then(response => response.text()).then(note =>{
                            editorPage(note);
                        });
                    } catch (error) {
                        Swal.showValidationMessage(
                        error
                        );
                    }
                }
            });

        });

        // Enters a collaborative session on successful code input
        $('#joinButton').on('click', function() {
            Swal.fire({
                title: 'Enter Session Code',
                input: "text",
                showCloseButton: true,
                width: '600px',
                preConfirm: async (result) => {
                    try {
                        await fetch('/notes/joinSession', { // Call for fetching note from DB
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ result })
                        }).then(response => response.text()).then(note =>{ // Result is converted to string
                            editorPage(note); 
                        });
                    } catch (error) {
                        Swal.showValidationMessage(
                        error
                        );
                    }
                }
            });

        });

        // Stores data in session storage for retrival on redirect
        function editorPage(data) {
            sessionStorage.setItem("data", (data)); // Sends to session storage
            let path = window.location.pathname === "/notes" ? "notes/editor" : "editor";
            window.location.assign(path); // Redirects to editor page
        }
    </script>