<head>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
</head>
    <div class="indexBox">
        <p>Notes</p>
    </div>


    
    <!-- Custom div to load the partial content -->
    <div id="editor"></div>

    <!-- Button to trigger the AJAX request -->
    <!-- <p><button id="ajaxButton">Click to create a new note</button></p> -->


    
    <!-- Passes the below content to the scripts variable in layout.ejs -->
    <%- contentFor('scripts') %>
    <script>
        appendToHeading('Notes'); // Running the function I defined in layout.ejs
        // This function is able to be called here because the script for it was created before the scripts variable was placed on the layout

        const quill = new Quill('#editor', {
            theme: 'snow'
        });

        const ws = new WebSocket('ws://localhost:8001');

        ws.addEventListener('open', () => {
            console.log("Successfully Connected");
            quill.update();
        })
        ws.addEventListener('message', (e) => {

            try {
                quill.updateContents(JSON.parse(e.data));
            } catch (error){
                console.error('Error parsing message:', error);
            }
        });



        quill.on('text-change', (delta, oldDelta, source) => {
            if(source == 'user') {
                ws.send(JSON.stringify(delta.ops));
            }
        });

        
    </script>