<head>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
</head>
    <div class="indexBox">
        <p>Notes</p>
    </div>

    <!-- Contains scripts from button.ejs -->
    <%- include('buttons') %>

    <!-- Passes the below content to the scripts variable in layout.ejs -->
    <%- contentFor('scripts') %>
    <script>

        appendToHeading('Notes');

        
    </script>