
    <div class="indexBox">
        <p>Notes</p>
    </div>

    <a href="/notes/notesAI">Notes with AI</a>

    <p><button id="newNoteButton">New Note</button> <button id="existingNoteSweetAlertButton">Load Note</button> <button id="joinButton">Join Collab Session</button> <button id="sessionButton">Create Collab Session</button></p>
    <p>Session Code: <span id="sessionCode"></span></p>
    <button id="versionControlAlertButton">Version Control</button>
    <button id="currentNoteButton">Current Version</button>
    <button id="deleteAlertButton">Delete a Version</button>
    



    <div id="editor"></div>



    <%- include('../notes/partials/note.ejs') %>

    <!-- Passes the below content to the scripts variable in layout.ejs -->
    <%- contentFor('scripts') %>
    <script>
        appendToHeading('Notes');
    </script>
